@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
	font-family: "Open Sans", sans-serif;
	background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
	margin-left: .1in;
	margin-right: .1in;
    font-size: 13px;
}

a {
    color: #009;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre, code {
    font-family: Consolas, Menlo, "Courier New", monospace;
    font-size: 13px;
}

#container {
    margin-top: .2in;
	margin-left: calc(50% - .1in - 300px);
	width: 600px;
	padding: .1in;
}

#filelist {
    float: left;
    margin-left: -130px;
    width: calc(130px - .3in);
    text-align: right;
}

h1, h2, h3 {
    color: #666;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    margin: 0;
    padding-bottom: .03in;
    /* border-bottom: 1px #ccc solid; */
    margin-bottom: .05in;
}

#filelist ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs {
    float: right;
    list-style: none;
    width: 150px;
    margin: 0;
    margin-right: -160px;
    padding: 0;
    /* background: #eee; */
    padding-top: .05in;
    padding-bottom: .05in;
    margin-bottom: .1in;
}

ul.tabs li {
    padding: .02in;
    padding-left: .1in;
    padding-right: .1in;
    margin: 0;
}

.box {
    padding-left: .05in;
    padding-right: .05in;
    padding-top: .07in;
    padding-bottom: .07in;
    border: 1px solid #ccc;
    border-radius: .05in;
	margin-bottom: .2in;
	min-height: .5in;
}

#editor {
    width: 100%;
}

#tokens, #console, #stmt-tree {
    padding: .05in;
    padding-top: .02in;
    padding-bottom: .02in;
    font-family: "Consolas", "Menlo", "Courier New", monospace;
    font-size: 13px;
}

#console, div.error {
    color: #900;
}

span.keyword {
    color: #909;
}
span.ident {
    color: #009;
}
span.num {
    color: #930;
}
span.operator {
    color: #090;
}
span.implicit-semi, span.brace, span.empty {
    color: #999;
}
span.comment {
	color: #66c;
}
